<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TravelZero.com</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />  
</head>
<body>
<!--Navbar section-->
 
<!--Hero section - banner + fields -->
    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-0 is-12">
                        <form method="POST">
                        {% csrf_token %}
                            <div class="field has-addons">
                                <div class="select column is-offset-0 is-2.5">
                                    {{form.outboundDepartureAirportIataCode}}
                                </div>
                                <div class="control column is-offset-0.5 is-2.5">
                                    {{form.outboundDepartureDateFrom}}
                                </div>
                                <div class="control column is-offset-0.5 is-2.5" >
                                    {{form.outboundDepartureDateTo}}
                                </div>
                                <div class="control column is-offset-0.5 is-2.5" >
                                    {{form.inboundDepartureDateFrom}}
                                    <label class="checkbox">
                                            <input type="checkbox">
                                            Wybierz zakres dat
                                    </label>
                                </div>
                                <div class="control column is-offset-0.5 is-2.5" >
                                    {{form.inboundDepartureDateTo}}
                                </div>
                                <div class="control column is-offset-0.5 is-2.5">
                                    <button type="submit" class="button is-info">
                                        Szukaj
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>
<!--Searching results section-->
    </section>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-0 is-12">
                        {% for fares_info in fares %}
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="is-size-4">Wylot {{fares_info.outboundDepartureDate}}: {{ fares_info.outboundDepartureAirportName }} do {{ fares_info.outboundArrivalAirportName }} 
                                                                za: {{fares_info.outboundPriceValue}} {{fares_info.outboundCurrencyCode}}  </span>
                                            <br>
                                            <span class="is-size-4">Powrót {{fares_info.inboundDepartureDate}}: {{ fares_info.inboundDepartureAirportName }} do {{ fares_info.inboundArrivalAirportName }}  
                                                                za: {{fares_info.inboundPriceValue}} {{fares_info.inboundCurrencyCode}}</span>
                                            <br> 
                                        </p>
                                    </div>
                                </div>
                                <div class="media-left">
                                    <a class="button is-success is-focused is-medium ">Razem: {{ fares_info.summaryPriceValue }} {{ fares_info.summaryCurrencyCode }}</a>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </section>
<!--Footer section-->
    <footer class="footer">
        
    </footer>
</body>

</html>